.h1Title{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
}

.liElements{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formElements{
  align-items: center;
  display: flex;
  flex-direction: column;
}



form div{
  margin-top: 15px;
  display: flex;
  align-items: center;
}


input {
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px gray;
  outline: none;
  width: 300px;
}

button {
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 80px;
}

button:hover{
  background-color: white;
  color: black
}

.btn{
  align-items: center;
  display: flex;
}








